<!doctype html>

<!----------------------------------------------------------------------
 __  ____    ____  ___           _______.     ___      .______       __
/_ | \   \  /   / /   \         /       |    /   \     |   _  \     |  |
 | |  \   \/   / /  ^  \       |   (----`   /  ^  \    |  |_)  |    |  |
 | |   \      / /  /_\  \       \   \      /  /_\  \   |      /     |  |
 | |    \    / /  _____  \  .----)   |    /  _____  \  |  |\  \----.|  |
 |_|     \__/ /__/     \__\ |_______/    /__/     \__\ | _| `._____||__|
----------------------------------------------------------------------->

<html lang="en">
  <head>
    <title>{{config.siteName}}</title>
    <link
      rel="stylesheet"
      href="https://unpkg.com/purecss@1.0.1/build/pure-min.css"
      integrity="sha384-oAOxQR6DkCoMliIh8yFnu25d7Eq/PHS21PClpwjOTeU2jRSq11vu66rf90/cZr47"
      crossorigin="anonymous"
    >
    <link rel="stylesheet" href="https://unpkg.com/highlight.js@9.18.0/styles/default.css">
    <link rel="stylesheet" href="/static/styles.css">

    {{#if config.font}}
      <link href="https://fonts.googleapis.com/css?family={{config.font}}&display=swap" rel="stylesheet">
      <style type="text/css">
        body {
          font-family: '{{config.font}}', sans-serif;
        }
      </style>
    {{/if}}

    {{#if config.darkModeToggle}}
      <style type="text/css" id="dark-mode-styles" media="not all">
        body {
          background-color: #242325;
        }
        .header {
          border-bottom-color: #B3B3B3;
        }
        .header h1 {
          color: #B3B3B3;
        }
        hr {
          border-color: #B3B3B3;
        }
        .content, .header h2, li, code {
          color: #C8C8C8;
        }
        a, a:visited {
          color: #DC965A;
        }
        code {
          background-color: rgba(0, 0, 0, 0.4);
          color: #BBB891;
        }
        code.hljs {
          background-color: rgba(256, 256, 256, 0.8);
        }
      </style>
    {{/if}}

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script type="text/javascript" src="https://unpkg.com/jquery@3.4.1/dist/jquery.js"></script>
    <script type="text/javascript" src="https://unpkg.com/jquery-pjax@2.0.1/jquery.pjax.js"></script>
  </head>

  <body>
    <div id="layout">
      <!-- Menu toggle -->
      <a href="#menu" id="menuLink" class="menu-link">
        <!-- Hamburger icon -->
        <span></span>
      </a>

      <div id="menu">
        <div class="pure-menu">
          <a class="pure-menu-heading" href="#">{{config.siteName}}</a>

          <ul class="pure-menu-list">
            <li class="pure-menu-item"><a href="/" class="pure-menu-link menu-item">Home</a></li>
            <li class="pure-menu-item"><a href="/search" class="pure-menu-link menu-item-divided">Search</a></li>
            {{#each files}}
              {{#isEqual type 'file'}}
                <li class="pure-menu-item">
                  <a href="{{location}}" class="pure-menu-link">
                    {{title}}
                  </a>
                </li>
              {{/isEqual}}
            {{/each}}
          </ul>
        </div>
      </div>

      <div id="main">
        {{{body}}}
      </div>
    </div>

    <script type="text/javascript" src="/static/ui.js"></script>
  </body>
</html>
<!--       _
       .__(.)< (FUCK)
        \___)
 ~~~~~~~~~~~~~~~~~~-->
