<div class="header">
  <h1>{{formatLocation noteLocation}}</h1>
  <h2>{{pageSubtitle}}</h2>
</div>

<div class="content">
  {{{noteHtml}}}
  {{#if config.githubNotesLink}}
    <hr />
    <a href="{{config.githubNotesLink}}{{noteLocation}}" target="_blank" rel="noopener noreferer">
      View in GitHub
    </a>
  {{/if}}
</div>
